form {
  display: flex;
  gap: 15px;
  font-family: "Roboto", sans-serif;

  margin-bottom: 25px;
}

.formInput {
  flex: 1;
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  transition: all 0.3s ease;
}

.formInput:focus {
  outline: none;
  border-color: #ff3b30;
  box-shadow: 0 0 8px #ff3a304d;
}

button {
  padding: 12px 25px;
  background: linear-gradient(90deg, #ff3b30, #cf524b);
  color: white;
  font-weight: 600;
  border: none;
  font-family: "Roboto", sans-serif;
letter-spacing: 1.01px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 5px 15px #ff3a304d;
}
