.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 12px;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  position: relative;
}

.todo-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #999;
  font-style: italic;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  background: #fff;
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions button img {
  width: 21px;
  height: 21px;
}

.actions button:hover {
  transform: scale(1.2);
  background-color: #f12c2ca2;
}

.inputner {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputner:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 10px rgba(74,144,226,0.3);
}
