* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
body {
  background: radial-gradient(
    circle,
    rgba(240, 217, 231, 0.397) 0%,
    rgba(250, 206, 250, 0) 100%,
    rgba(255, 255, 255, 1) 48%
  );
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 50px;
  color: var(--text);
}
:root {
  --bg: #f4f6fb;
  --card-bg: #fff;
  --accent: #ff4f4f;
  --accent-dark: #e43a3a;
  --accent-light: #ffe6e6;
  --text: #222;
  --radius: 14px;
  --shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}
